@page
@model Hospimascotas.App.Frontend.Pages.ListaMascotasModel
@{
}
<h1>Mascotas</h1>

<a class="btn btn-primary"  asp-page="./Crear">Nuevo Paciente</a>

<table class="table">
  <thead>
      <tr>
         <th scope="col">Nombre </th> 
         <th scope="col">TipoMascota</th> 
         <th scope="col">Genero</th> 
         <th scope="col">Raza </th> 
         <th scope="col">MedicoEncargado</th> 
      </tr>
  </thead>

  @foreach (var mascota in @Model.MascotasEnfermas)
  {
      <tr>
          <td>@mascota.Nombre</td>
          <td>@mascota.TipoMascota</td>
          <td>@mascota.Genero</td>
          <td>@mascota.Raza</td>
          <td></td>
      </tr>
  }
</table>
