@page
@model Hospimascotas.App.Frontend.Pages.ListaAuxiliaresModel
@{
}
<h1>Auxiliares en Funcion</h1>


<table class="table">
  <thead>
      <tr>
         <th scope="col">Nombre </th> 
         <th scope="col">Apellido</th> 
         <th scope="col">Numero</th> 
         <th scope="col">No.Certificado</th> 
      </tr>
  </thead>

  @foreach (var Auxiliar in @Model.Auxiliares)
  {
      <tr>
          <td>@Auxiliar.Nombre</td>
          <td>@Auxiliar.Apellido</td>
          <td>@Auxiliar.Numero</td>
          <td>@Auxiliar.No_Certificado</td>
          <td></td>
      </tr>
  }
</table>