@page
@model Hospimascotas.App.Frontend.Pages.ListaAuxiliaresModel
@{
}


<h1>Auxiliares en Funcion</h1>

<a class="btn btn-primary"  asp-page="./RegistroAux">Registrar Nuevo Auxiliar</a>
<table class="table">
  <thead>
      <tr>
         <th scope="col">Nombre </th> 
         <th scope="col">Apellido</th> 
         <th scope="col">Numero</th> 
         <th scope="col">No.Certificado</th> 
      </tr>
  </thead>

  @foreach (var A in @Model.Auxiliares)
  {
      <tr>
          <td>@A.Nombre</td>
          <td>@A.Apellido</td>
          <td>@A.Numero</td>
          <td>@A.No_Certificado</td>
          
         
          <td><a class="btn btn-secondary"  asp-page="./ActualizarAux"  asp-route-id="@A.Id">Actualizar</a></td>
          <td><a class="btn btn-secondary"  asp-page="./EliminarAux"  asp-route-id="@A.Id">Eliminar</a></td>
          <td></td>
      </tr>
  }
</table>